<h1>Account Information</h1><br>

<h2><%= @account.name %></h2><br><br>
<h3>Balance: $<%= @account.balance %></h3><br><br><br>

<!-- 
<a href="/accounts/<%= @account.id %>/deposit">Deposit</a><br><br>
<a href="/accounts/<%= @account.id %>/withdrawal">Withdrawal</a><br><br><br><br> -->

<a href="/accounts">Back to Accounts</a><br><br><br>

<a href="/accounts/<%= @account.id %>/edit">Change Account Nickname</a><br><br><br>

<form method="POST" action="/accounts/<%= @account.id %>">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="DELETE ACCOUNT">
</form>